# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test/test.xcodeproj/project.xcworkspace/xcshareddata
test/test.xcodeproj/project.xcworkspace/xcuserdata
test/test.xcodeproj/xcshareddata
test/test.xcodeproj/xcuserdata
test/test
